*{
    padding: 0;
    margin: 0;
}

.loginParent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    align-items: center;
}

.logo-conatiner img{
    max-width: 40%;
    max-height: 100%;
    display: flex;
    object-fit: contain;
}

.login-container {
    background-color: aliceblue;
    display: flex;
    position: absolute;
    border-radius: 0px 0px 12px 12px;
    width: 43%;
    padding: 10px;
}

.singin, .lonin {
    margin: 5px 0px;
}

.buttons {
    display: flex;
}

.login-section {
    max-width: 90%;
    margin: 0 auto;
}

.loginDecription {
    text-align: center;
}

.backgroundSection {
    width: 100%;
    display: flex;
}

.firstPart {
    width: 50%;
    background-image: url('/left-side-bg.png');
    background-size:cover;
    height: 74vh;
}

.secondPart {
width: 50%;
background-image: url('/right-side-bg.png');
background-size: 100% 100%;
height: 74vh;
}